---
import Layout from '../layouts/Layout.astro'
import CMenu from '../components/cmenu.astro'
import VMenu from '../components/vmenu.astro'
import ColorMenu from '../components/color_menu.astro'
---

<Layout title="Vector3D SandBox">
  <main>
    <div class="canvas-container" id="canvas-container">
    </div>
    <div id=rmenu class="hide">
      <ul>
        <li class="hide" id="create">Crear</li>
        <li class="hide" id="position">Posicion</li>
        <li class="hide" id="color">Color</li>
        <li class="hide" id="delete">Borrar</li>
        <li class="hide" id="add">Sumar</li>
        <li class="hide" id="sub">Restar</li>
        <li class="hide" id="scale">Pdto. Escalar</li>
        <li class="hide" id="vectorial">Pdto. Vectorial</li>
      </ul>
    </div>
	<CMenu/>
  <VMenu/>
  <ColorMenu/>
    
    <script src="../scripts/entry.ts"></script>
    <script src='../scripts/control.ts'></script>
    <script src='../scripts/outline.ts'></script>
  </main>
</Layout>


<style>
  html {
    margin-top: 0;
  }
  .canvas-container {
    position: fixed;
    width: 100%;
    height: 100%;
  }
  main {
    margin-left: 0;
    width: 100%;
    height: 100%;
  }
  #rmenu
  {
    position: absolute;
    width: 10rem;
    height: 5rem;
  }
  .hide 
  {
    display: none;
  }
  ul li
  {
    font-size: 14px;
    margin-top: 5px;
    list-style: none;
    padding: 5px;
	  border-radius: 6px;
	  background: #fff;
	  box-shadow: 0 0 8px  #1e1e1e;
  }
  li:hover
  {
    cursor: crosshair;
  }
</style>